[defaults]
inventory = inventory/production.yml
roles_path = roles
collections_path = ~/.local/share/personalhub-ansible/collections:/usr/share/ansible/collections
interpreter_python = auto_silent
retry_files_enabled = False
timeout = 60

[privilege_escalation]
become = True
become_method = sudo
become_user = root
